body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  width: 500px;
}

@media screen and (max-width: 500px) {
  .img-col {
    display: none;
  }
  .hero-text {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .icon {
    width: 15vw;
  }
}

.dark {
  background-color: #3d3939;
}

.light {
  background-color: #ebe8e3;
}

.primary {
  background-color: #929192;
}

.secondary {
  background-color: #e4e1d8;
}

.highlight {
  background-color: #ad9e96;
}

.dark-text {
  color: #3d3939;
}

.light-text {
  color: #ebe8e3;
}

.primary-text {
  color: #929192
}

.secondary-text {
  color: #e4e1d8;
}

.highlight-text {
  color: #ad9e96;
}

.center {
  text-align: center;
  padding: 3rem;
}

.header {
  font-size: 3rem;
}

.header-two {
  font-size: 2.5rem;
}

.header-content {
  font-size: 1.5rem;
}

.devpic {
  box-shadow: -4vw 4vw #3d3939, -4vw -4vw #ad9e96;
  width: 30rem;
}

.hero-container {
  padding: 7.5vw;
  border-bottom: solid 3px #ad9e96;
}

.hero-text {
  width: 80%;
}

.icon {
  width: 5vw;
}

.icon-container {
  margin: 3vw;
  display: flex;
  justify-content: center;
}