* {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 500px) {
  .hero-text {
    width: 100%;
  }

  .icon {
    width: 5px;
  }

  .empty-col {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .icon {
    width: 15vw;
  }
  .img-col {
    display: none;
  }
}

#about::before, #projects::before, #technologies::before {
  content: '';
  display: block;
  height: 75px;
  margin: -30px 0 0;
}

.dark {
  background-color: #171717;
}

.light {
  background-color: #EDEDED;
}

.primary {
  background-color: #444444;
}

.secondary {
  background-color: #C4B6B6;
}

.highlight {
  background-color: #DA0037;
}

.dark-text {
  color: #171717;
}

.light-text {
  color: #EDEDED;
}

.primary-text {
  color: #444444
}

.secondary-text {
  color: #C4B6B6;
}

.highlight-text {
  color: #DA0037;
}

.link {
  color: #EDEDED;
}

.link:hover {
  color: #DA0037;
}

.blob {
  aspect-ratio: 930/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.light-blobs {
  background-image: url(./assets/images/light-blobs.svg);
}

.dark-blobs {
  background-image: url(./assets/images/dark-blobs.svg);
}

.spacer {
  aspect-ratio: 960/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.light-dark {
  background-image: url(./assets/images/light-dark.svg);
}

.dark-light {
  background-image: url(./assets/images/dark-light.svg);
}

.center {
  text-align: center;
  padding: 3rem;
  padding-top: 0;
}

.align-right {
  text-align: end;
}

.header {
  font-size: 2.5rem;
}

.header-two {
  font-size: 2rem;
}

.header-content {
  font-size: 1.5rem;
}

.devpic {
  /* box-shadow: -3vw 3vw #171717, 3vw -3vw #DA0037; */
  width: 30rem;
}

.hero-container {
  padding: 6vw;
}

.hero-text {
  width: 80%;
}

.icon {
  width: 10rem;
}

.icon-container {
  padding: 3vw;
  display: flex;
  justify-content: center;
}

.icon-col {
  display: flex;
  justify-content: center;
}

.card-container {
  margin: 3vw;
  display: flex;
  justify-content: center;
}

.footer-row {
  padding: 2vw;
}

.left-border {
  border-left: solid 3px #DA0037;
}

.right-border {
  border-right: solid 3px #DA0037;
}